<div class="label-img">
  <%= link_to tag_path(object)  do %>
    <%= image_tag 'label.png' , :size => '80x25', :class => 'label-pic'%>
  <span class="label-desc" ><%= object %></span>
<% end %>
</div>

